#Prijava {
    height: 30px;
    width: 70px;
    background-color: #4d94ff;
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 2px 15px;
    float: right;
    display: block;
}

#Prijava:hover {
    background-color: #66a3ff;
}

.img {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
    margin-bottom: auto;
    display: block;
}

#search {
    width: 400px;
    height: 30px;
    display: block;
    padding: 12px;
    margin-left: auto;
    margin-right: auto;
}

input {
    height: 30px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;

}

#buttons {
    font-family: Verdana;
    font-size: 12px;
    text-align: center;
    color: black;
    margin: auto;
    padding: 5px;
}

.Sign {
    margin: auto;
    display: block;
    padding: 4px;
    text-align: center;
}

#footerleft {
    background-color: #e6e6e6;
    position: fixed;
    width: 100%;
    font-family: Arial;
    font-size: 14px;
    text-align: left;
    bottom: 0px;
    text-decoration: none;
    padding-left: 5px;
    left: 0;
    display: inline-block;
}

#footerright {
    text-align: right;
    position: fixed;
    margin-right: 30px;
    width: 100%;
    bottom: 0;
    font-family: Arial;
    font-size: 14px;
}